a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.hm-div-label {
    display:table-cell;
    padding-right:15px;
    text-align:center;
}

.hm-div-input {
    display:table-cell;
    padding-right:15px;
    text-align:center;
    width:40%;
}

.hm-div-calendar {
    display:table-cell;
    padding-right:15px;
    text-align:left;
}

.hm-div-radio {
    display:table-cell;
    padding-right:15px;
    width:20%;
}